html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#222;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

#zone_joystick {
    position: absolute;
    background: #555;
    box-sizing: content-box;
    height: 300px;
    width: 300px;
    overflow: hidden;
    right: 20px;
    bottom: 20px;
}

@media (orientation: landscape) {
  #zone_joystick {
    right: 20px;
    bottom: 20px;
  }
}
