body {
    background-color: darkslategray;
}
div {
  margin: 0em;
  padding: 2em;
}
#target1 {
  background: lightgray;
  border: 1px solid black;
}
#target2 {
  background: lightgray;
  border: 1px solid black;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: darkgray;
  margin: 30px;
}

.flex-container > div {
  background-color: #f1f1f1;
  height: 200px;
  width: 200px;
  margin: 30px;
  text-align: center;
  font-size: 30px;
}
