html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #222;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  height: 80%;
  width: 100%;
}

#joystick-container {
  display: flex;
  justify-content: space-around;
}

#zone_joystick {
  position: relative;
  background: #555;
  box-sizing: content-box;
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  margin: auto;
}

#button-row {
  display: flex;
  justify-content: space-around;
}

.active {
  background-color: greenyellow;
}

.dropbtn {
  width: 60px;
  height: 35px;
  margin: 10px;
  color: black;
  background-color: sienna;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  border: none;
}

.dropbtncal {
  width: 60px;
  height: 35px;
  margin: 10px;
  color: black;
  background-color: sienna;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  border: none;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: greenyellow;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 0;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.telemetry {
  display: flex;
  justify-content: space-around;
}

.telemetry-item {
  height: 35px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: greenyellow;
  background-color: black;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  line-height: 35px;
  border: none;
}

@media (orientation: portrait) {
  .flex-container {
    flex-direction: column;
  }
  #button-row {
    flex-direction: row;
  }
  #joystick-container {
    height: 360px;
  }
}

@media (orientation: landscape) {
  .flex-container {
    flex-direction: row;
  }
  #button-row {
    flex-direction: column-reverse;
  }
  #joystick-container {
    width: 360px;
  }
  #zone_joystick {
    height: 230px;
    width: 230px;
  }
}
